.header { 
  background: #E8DBCC;
  height: 25vh;
}
.header-text {
  text-align: center;
  margin-top: -10vh;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin: 0;
}

h4 {
  margin: 0;
}

a {
  text-decoration: none;
}


