.header { 
  background: #E8DBCC;
  height: 25vh;
}
.header-text {
  text-align: center;
  margin-top: -10vh;
}

h1 {
  font-size: 2em;
  margin-top: 0;
}

h4 {
  margin-bottom: 0;
}

.header-stats {
  display: flex;
  justify-content: center;
  margin-top: 5gvh;
  padding-bottom: 2vh;
  border-bottom: 1px solid black;
}

.header-stats .stat{
  flex: 1;
}

.stat h2 {
  padding: 0px;
  margin: 0px;
  font-size: 2em;
}

.stat h5{
  margin: 0px;
}




.twitter {
  margin: 2vh 0 0 0; 
  width: 40vw;
}


.main {
  display: flex;
  justify-content: center;
}
