.header { 
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.header-stats {
  display: flex;
  justify-content: center;
  margin-top: 5gvh;
  padding-bottom: 2vh;
  border-bottom: 1px solid black;
}

.header-stats .stat{
  flex: 1;
}

.stat h2 {
  padding: 0px;
  margin: 0px;
  font-size: 2em;
}

.stat h5{
  margin: 0px;
}

h1 {
  font-size: 3em;
  margin-left: -10vh;
  border-bottom: 1px solid black;
}


.twitter {
  margin: 2vh 0 0 0; 
  width: 40vw;
}


.main {
  display: flex;
  justify-content: center;
}
