* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 2vh;
  }
  
  .card img {
    width: 75px;
    border-radius: 50%;
  }
  
  .placeholder {
    width: 75px;
    height: 150px;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .row {
    width: 500px;
    margin: 0 -5px;
    overflow-y:auto;
    max-height: 50vh;
  }